.notification {
    background-color: var(--p-light);
    padding: 20px 40px;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}