nav {
  max-width: 100%;
  padding: 20px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
}

nav .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  color: var(--white);
  text-decoration: none;
}
nav a:hover {
  color: var(--p-light);
}

.black-bg {
  background-color: var(--black);
  position: fixed;
  width: 100%;
}

.icon-fill:hover svg > path {
  fill: var(--p-light);
}

.icon-stroke:hover svg > path {
  -webkit-text-stroke-color: var(--p-light);
}

header {
  padding: 80px 0 0 0;
  margin-bottom: 40px;
  background-color: var(--black);
  display: flex;
  align-items: stretch;
}

section {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.test {
  height: 2000px;
}

.color-white {
  color: var(--white);
}

/* Profile CSS */

.profile-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.profile-picture-preview,
.dog-profile-picture-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.form-content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.titleBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  height: 100%;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.titleColumn,
.spacerColumn {
  flex: 1;
}

.seperatorLine {
  width: 100%;
  height: 100%;
  border: 1px #ebe1ce solid;
}

.div-for-profile,
.div-for-dog-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.form-element {
  flex: 1;
}

/* .profile-header {
  width: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 40px;
  background-color: var(--black);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  display: inline-flex;
  color: var(--white);
} */
