/*´´ .upload-image {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px;
    aspect-ratio: 21 / 9;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.05);
    opacity: 100%;
    color: var(--white);
    border-radius: 6px;
} */

/* .file-input {
    top: 0;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: #BB4125;
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: text-align;
  gap: 20px;
  padding: 40px;
  background-color: #f5f2e8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  width: 100%; /* Ensures each form group is full-width */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

nav {
  max-width: 1280px;
  padding: 20px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  color: var(--p-light);
}

.black-bg {
  background-color: var(--black);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.icon-fill:hover svg > path {
  fill: var(--p-light);
}

.icon-stroke svg > path {
  stroke: var(--white);
}

.icon-stroke:hover svg > path {
  stroke: var(--p-light);
}

header {
  padding: 80px 0 40px 0;
  background-color: var(--black);
  display: flex;
  align-items: stretch;
}

main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

section {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

.color-white {
  color: var(--white) !important;
  border-color: var(--white) !important;
}

.profile-picture {
  object-fit: cover;
  height: 64px;
  width: 64px;
  border-radius: 200px;
}

.dog-picture {
  object-fit: cover;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.notification {
  background-color: var(--p-light);
  padding: 20px 40px;
  border-radius: 6px;
}

/* ------------------------------------------------------ */

/* New profile CSS */

/* .title-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    height: 100%;
} */

/* .title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
} */

.profile-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.titleColumn,
.spacerColumn {
  flex: 1;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
  justify-content: flex-start;
}

.h2-title-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: stretch;
  justify-content: space-around;
  padding: 15px;
  padding-left: 0px;
}

.seperator-line {
  width: 100%;
  height: 100%;
  border: 1px #ebe1ce solid;
}

/* ProfileForm CSS */

.profile-form,
.dog-profile-form {
  align-self: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin: 10px;
}

.profile-picture,
.dog-profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.profile-picture label,
.dog-profile-picture label {
  margin-bottom: 10px;
  color: #19191a;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  word-wrap: break-word;
}

.profile-picture input,
.dog-profile-picture input {
  color: #19191a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.profile-picture-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10px;
  position: relative;
  background: #ebe1ce;
  overflow: hidden;
  border: 3px #f9c069 solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.dog-profile-picture-preview {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-top: 10px;
  position: relative;
  background: #ebe1ce;
  overflow: hidden;
  border: 3px #f9c069 solid;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.profile-form-inputs {
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
}

.row {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  display: flex;
}

.input {
  flex: 1 1 0;
  height: 74px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 7px;
  display: inline-flex;
}

.input-label {
  color: #19191a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.input-box {
  align-self: stretch;
  height: 48px;
  padding: 12px;
  border-radius: 6px;
  border: 1px #19191a solid;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.input-field {
  width: 100%;
  border: 1px solid #f9f1e1;
  border-radius: 4px;
  background: #f9f1e1;
  opacity: 1;
  color: #19191a;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.input-field.has-value {
  width: 100%;
  border-radius: 4px;
  opacity: 1;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.input-value {
  flex: 1 1 0;
  opacity: 0.5;
  color: #19191a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.weird {
  align-self: stretch;
  height: 74px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 7px;
  display: flex;
}

.icon-div {
  width: 24px;
  height: 24px;
  position: relative;
}

.icon {
  width: 18px;
  height: 14px;
  left: 3px;
  top: 5px;
  position: absolute;
  border: 2px #19191a solid;
}
