:root {
  --black: #19191a;
  --white: #ffffff;
  --gray: #3e3c39;
  --bg-light: #f9f1e1;
  --bg-dark: #ebe1ce;
  --p-light: #f9c069;
  --p-dark: #df9629;
  --s-light: #cf4829;
  --s-dark: #bb4125;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lexend, sans-serif;
  background-color: var(--bg-light);
}

h1 {
  font-size: 4em;
}

p {
  padding: 0;
  margin: 6px 0;
}

ul {
  margin: 6px 0;
}
