.button {
    padding: 8px 16px;
    width: auto;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Primary Button Styles */
.primary {
    background-color: var(--p-light);
    color: var(--black);
}

.primary:hover {
    background-color: var(--p-dark);
}

/* Secondary Button Styles */
.secondary {
    background-color: var(--gray);
    color: var(--white);
}

.secondary:hover {
    background-color: var(--black);
}

/* Transparent Button Styles */
.transparent {
    background-color: transparent;
    color: var(--white);
}

.transparent:hover {
    color: var(--p-light);
}

.icon {
    margin-right: 8px; /* Space between the icon and label */
}

.sign-up-button {
    margin-left: 16px;
}