.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}



.profilePicture {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.user p {
    margin: 0;
}

.name {
    font-weight: bold;
}

.dogs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dog {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.dogImage {
    object-fit: cover;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

