.subtitle {
    font-size: 24px;
}

.eventImage {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 21 / 9;
}

.placeholder {
    width: 100%;
    aspect-ratio: 21 / 9;
    background-color: var(--gray);
}

.date {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.event {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}

.comments {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--bg-dark);
}

.joined {
    padding: 8px 16px;
    color: var(--white);
    border: 1px solid var(--p-light);
    border-radius: 6px;
}