.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.dog-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.dog-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.profile-section {
  display: flex;
  width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.profile-button-container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px, 0px;
  gap: 20px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  align-items: left;
}

.h2-title-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: stretch;
  justify-content: space-around;
 
}

.button-div {
  padding: 15px;
  padding-right: 0px;
}
