.comment {
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.names {
    display: flex;
    flex-direction: column;
}

.names p {
    padding: 0;
    margin: 0;
}

.name {
    font-weight: bold;
}

.nameDate {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: end;
}

.created {
    color: var(--s-dark);
    font-size: 14px;
}

.dogs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.avatars {
    height: 42px;
}

.userAvatar {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: var(--p-dark);
}

.commentContent {
    padding-left: 52px;
}