.dogItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dogPicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #BB4125;
}

.dogName {
    color: white;
}