.dogItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: left;
  line-height: 7px;
}

.dogPicture {
  width: var(--picture-size, 40px); /* Use CSS variable with default value */
  height: var(--picture-size, 40px); /* Use CSS variable with default value */
  border-radius: 50%;
  object-fit: cover;
  background-color: #bb4125;
}

.dogName {
  color: white;
  font-size: 18px;
  padding: 3px;
  padding-left: 0px;
}

.dogAge {
  color: white;
  font-size: 14px;
}

.dogBreed {
  color: white;
  font-size: 14px;
}
