.header-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.dog-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-picture {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 200px;
  position: relative;
}

.profile-section {
  display: flex;
  width: 1280px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
