.subtitle {
    font-size: 24px;
}

.placeholder {
    width: 1000px;
    height: 1000px;
    aspect-ratio: 16 / 9;
    background-color: var(--black);
}

.attendee {
    padding: 20px;
    border-radius: 8px;
    min-width: 320px;
    background-color: var(--bg-dark);
}

.date {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.comments {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--bg-dark);
}