/* .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.inputLabel {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative; /* Ensure icon positions correctly */
}

.inputField {
  flex: 1;
  padding: 10px;
  border: 1px solid black; /* Black border */
  border-radius: 4px;
  background-color: #f9f1e1; /* Same background color as the container */
  width: 100%; /* Make the input field as long as its container */
  opacity: 1;
  color: #19191a;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.icon {
  position: absolute; /* Place icon inside container */
  right: 10px; /* Adjust as needed */
}

.inputField.has-value {
  width: 100%;
  border-radius: 4px;
  opacity: 1;
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.row {
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  display: flex;
}

.input {
  flex: 1 1 0;
  height: 74px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 7px;
  display: inline-flex;
}

.input-label {
  color: #19191a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.input-box {
  align-self: stretch;
  height: 48px;
  padding: 12px;
  border-radius: 6px;
  border: 1px #19191a solid;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: inline-flex;
}

.input-field {
  width: 100%;
  border: 1px solid #f9f1e1;
  border-radius: 4px;
  background: #f9f1e1;
  opacity: 1;
  color: #19191a;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.input-value {
  flex: 1 1 0;
  opacity: 0.5;
  color: #19191a;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.icon-div {
  width: 24px;
  height: 24px;
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 248px;
  height: 48px;
  padding: 12px 16px;
  background: #3e3c39;
  border-radius: 6px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  border: none;
  cursor: pointer;
}
