.picture-preview {
  width: var(--picture-size, 150px); /* Use CSS variable with default value */
  height: var(--picture-size, 150px); /* Use CSS variable with default value */
  border-radius: 50%;
  position: relative;
  background: #ebe1ce;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}
